{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


<h1> <center> Display of the data for development </h1> </center>

<div class="row">
  <div class="col-md-4 col-lg-offset-4">
    <table class="table table-striped" id="owned_stock_table">
      <thead>
        <center><h3> Current registered users </h3></center>
        <tr>
          <th>User</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for peopl in people %}
        <tr>
          <td>{{ peopl.username }}</td>
          <td>{{ peopl.email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="row">
    <div class="col-md-4 col-lg-offset-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<hr>
<div class="row">
  <div class="col-md-10 col-lg-offset-1">
    <table class="table table-striped" id="owned_stock_table">
      <thead>
        <h3> The SHEL Data </h3>
        <tr>
          <th>Date</th>
          <th>Stakeholder</th>
          <th>Department</th>
          <th>Quality stance</th>
          <th>Meeting format</th>
          <th>Keypoints from meeting</th>
          <th>BPIer</th>
        </tr>
      </thead>
      <tbody>
        {% for log in shel %}
        <tr>
          {% if log.organisation is in department %}
            {% if log.stance == stance %}
              <td>{{ log.date}}</td>
              <td>{{ log.stakeholder_person }}</td>
              <td>{{ log.organisation }}</td>
              <td>{{ log.stance }}</td>
              <td>{{ log.meeting }}</td>
              <td>{{log.keypoints }}</td>
              <td>{{ log.bpier }}</td>
            {% elif stance == 0 %}
              <td>{{ log.date}}</td>
              <td>{{ log.stakeholder_person }}</td>
              <td>{{ log.organisation }}</td>
              <td>{{ log.stance }}</td>
              <td>{{ log.meeting }}</td>
              <td>{{ log.keypoints }}</td>
              <td>{{ log.bpier }}</td>
            {% endif %}
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
