{% extends "base.html" %}

{% block content %}

<h1> Display of the data for development </h1>


<h3> A list of the current registered users </h3>
{% for post in people %}
   <p>
   {{ post.username}} says: <b>{{ post.email }} is {{ post.is_admin }} {{ post.id }}</b>
   </p>
   {% endfor %}

<h3> The SHEL data </h3>

{% for log in shel %}
<p>
{{ log.date }} says:  <b>{{ log.stakeholder_person }} is {{ log.user_id}} and</b>
<br>
{{ log.organisation }} and {{ log.stance }} and {{ log.bpier}}
</p>
{% endfor %}

{% endblock %}
