{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <p>
    <h1> Bonjour </h1>   <br>

      Welcome to the Stakeholder Engagement and training log, for use by everyone in the Best Practice & Impact Division of the Office for National Statistics.
      This is intended to capture significant meetings with stakeholders to show our impact across government organisations and to highlight any weak points where our impact may need strengthening. <br>
    <hr>
      Please consult the accompanying  <a href="https://share.sp.ons.statistics.gov.uk/sites/BPI/_layouts/15/WopiFrame.aspx?sourcedoc=/sites/BPI/StrategicDirection/Stakeholder_Engagement/General/Stakeholder%20log%20guidance.docx&action=default"> guidance document </a> should you need any help in completing the log
    
    </p>
{% endblock %}
